html{
    color: #fff;
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    max-width: 1120px;
    background: linear-gradient(150deg, rgb(187, 185, 185), #be55ff,  #fdfcfc);
    background-size: 120% 120%;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px;
}

.cabecalho .logo{
    width: 15rem;
    height: 15rem;
    text-decoration: underline;
    text-align: center;
    line-height: 50rem;
    font-family: "Raleway" sans-serif;
    transition: 0.2s;
}
/*ver se funciona em imagens */
.cabecalho a:hover .logo{
    color:  #ec60ad;
}

.cabecalho .menu li a{
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px 20px;
}


.cabecalho .menu li a:hover{
    background-color:  #ec60ad;
    color: #fff;
    border-radius: 50px;
    transition: 0.2s;
}

.titulo {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #ffff;
}

/*
.pdf-preview {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
    color: #007BFF; /* Azul amigável para links 
}
*/

.pdf-preview img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.container-projetos {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.projeto {
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    padding: 16px;
    background-color: #f9f9f9;
    border-radius: 8px;
    transition: transform 0.2s;
}

.projeto:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}




@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
